<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">          
          <%= link_to "Inicio", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Categoria.all.each do |categoria| %>            
            <li>              
              <%= link_to categoria.nombre, root_path, class: "dropdown-item" %>
            </li>
            <% end %>
          </ul>
        </li>

        <% if !empresa_signed_in? then %>
        <li class="nav-item">          
          <%= link_to "Login Empresas", new_empresa_session_path, class: "nav-link" %>
        </li>
        <% end %>

        <li class="nav-item">          
          <%= link_to "Cerrar Sesión (E)", destroy_empresa_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<% if empresa_signed_in? then %>
  Bienvenido <%= current_empresa&.razon_social %>
<% end %>